/* messageList.module.css */

.messageList {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 16px;
  word-wrap: break-word;
}

